.header {
  background-color: rgb(190, 209, 79);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px;
}

.header-text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 15px;
}

.vertical-line {
  border-left: 1px solid rgb(183, 199, 183);
  height: 233%;
  position: absolute;
  left: 16%;
  margin-left: 10px;
  top: 29%;
}